<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           multiple
           (change)="handleFileInput($event.target.files)">
</div>
<div *ngIf="activities">
    <button (click)="uploadActivities()">Upload</button>
</div>
<div >
    <div *ngFor="let activity of activities">
        <button (click)="uploadSingleActivity(activity)" >upload single activity</button>
        <h2>{{activity.r2wDate}}</h2>
        <h3>{{activity.stringDistance}} in {{activity.stringTime}}</h3>
        <p>{{activity.description}}</p>
        <div *ngIf="activity.workoutSets && activity.workoutSets.length">
            <pre>{{getWorkoutString(activity.workoutSets)}}</pre>
            <!-- <h3>Workout</h3>
            <table>
                <tr>
                    <th>Set</th>
                    <th>Reps</th>
                    <th>Distance</th>
                    <th>Goal</th>
                    <th>Actual</th>
                    <th>Rep rest</th>
                    <th>Set rest</th>
                </tr>
                <tr *ngFor="let set of activity.workoutSets">
                    <td>{{set.setNum}}</td>
                    <td>{{set.numReps}}</td>
                    <td>{{set.distance}}</td>
                    <td>{{set.goal}}</td>
                    <td>{{set.actual}}</td>
                    <td>{{set.repRest}}</td>
                    <td>{{set.setRest}}</td>
                </tr>
            </table> -->
        </div>
        <div *ngIf="activity.raceInfo">
            <pre>{{getRaceInfoString(activity.raceInfo)}}</pre>
            <!-- <h3>Race: {{activity.raceInfo.raceName}}</h3>
            <table>
                <tr>
                    <td>Distance</td>
                    <td>{{activity.raceInfo.distance}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{activity.raceInfo.time}}</td>
                </tr>
                <tr>
                    <td>Splits</td>
                    <td>{{activity.raceInfo.splits}}</td>
                </tr>
                <tr>
                    <td>Place</td>
                    <td>{{activity.raceInfo.place}}</td>
                </tr>
                <tr>
                    <td>Comments</td>
                    <td>{{activity.raceInfo.comments}}</td>
                </tr>
            </table> -->
        </div>
    </div>
</div>